.center {
	text-align: center;
}
/*body {
	background-color: #FFE3DB;
}*/
/*.background {
	margin: 0;
  background-color: #FFE3DB;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes myAnimation {
  0% {background-color: #facfa1;}
  100% {background-color: #f764c1;}
}
*/




@keyframes move-background { 
  from { -webkit-transform: translate3d(0px, 0px, 0px); } 
  to { -webkit-transform: translate3d(71px, 0px, 0px); }
} 

.clouds{ 
  opacity: 0.2;
  width:10000px; 
  height: 100%;
  background: transparent url("clouds.jpg") repeat; 
  background-size: 1000px 1000px;
  position: absolute;
  right: 0; top: 0; bottom: 0;
  animation:move-background 8s linear infinite alternate; 
}